 table, td {
  width: 600px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: 1px solid #000;
  border-collapse: collapse;
  margin: 50px auto;
}

.strike {
  text-decoration: line-through;
}

.btn {
  width: 33%;
  height: 70px;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #000;
  text-align: center;
  display: inline-block;
}

.selected {
  background-color: #AAA;
}


